<div class="container">
  <div class="row main">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h1>Registration</h1>
        <hr />
      </div>
    </div>
    <div class="main-login main-center">
      <form class="form-horizontal" (ngSubmit)="onRegister()" #bean="ngForm">


        <div class="form-group">
          <label for="username" class="cols-sm-2 control-label">Username</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-users fa" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="username" id="username" placeholder="Enter your Username" ngModel required
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
              </span>
              <input 
                type="password" 
                class="form-control" 
                name="password" id="password" 
                placeholder="Enter your Password" 
                ngModel required
                #password="ngModel"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
              </span>
              <input 
                type="password" 
                class="form-control" 
                name="confirm" id="confirm" 
                placeholder="Confirm your Password" 
                ngModel required
                #confirm="ngModel"
              />
            </div>
          </div>
        </div>

        <div class="form-group ">
          <button [disabled]="!bean.valid" class="btn btn-primary btn-lg btn-block login-button">Register</button>
          <div class="login-register">
            <a routerLink="/login" class="btn btn-info" type="button">Login</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>