<div class="container">
  <div class="row main">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h1>Login to Share your thoughts</h1>
        <hr />
      </div>
    </div>
    <div class="main-login main-center">
      <form class="form-horizontal" (ngSubmit)="onLogin()" #bean="ngForm">
        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">User Name</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope fa" aria-hidden="true"></i>
              </span>
              <input 
                type="text" 
                class="form-control" 
                name="username" id="username" 
                placeholder="Enter your User Name"
                ngModel
                required />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
              </span>
              <input 
                type="password" 
                class="form-control" 
                name="password" id="password" 
                placeholder="Enter your Password"
                ngModel
                required/>
            </div>
          </div>
        </div>
        <span (click)="onMessClick()" *ngIf="loginFailure">
          Please provide the correct credentials...
        </span>
        <div class="form-group ">
          <button 
            [disabled]="!bean.valid"
            class="btn btn-primary btn-lg btn-block login-button">Login</button>
          <a routerLink="/register" type="button" class="btn btn-info btn-block">Register</a>
        </div>
      </form>
    </div>
  </div>
</div>