<div class="navbar navbar-inverse">
  <div class="container-fluid"></div>
  <div class="navbar-header">
    <strong class="navbar-brand">Open Thoughts Appllication</strong>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
    <ng-template [ngIf]="!http.isAuthenticated()">
      <li><a routerLink="register">Register</a></li>
      <li><a routerLink="login">Sign in</a></li>
    </ng-template>
    <li><a
        style="cursor: pointer;"
        (click)="onLogout()"
        *ngIf="http.isAuthenticated()">Logout</a></li>
    </ul>
   </div>
</div>