<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <form (ngSubmit)="onSubmit()" #bean="ngForm">
                <legend>Share your thoughts...</legend>
                <div class="form-group">
                    <textarea class="from-control" rows="4" cols="90" #postDescription="ngModel" ngModel name="postDescription" required></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" [disabled]="!postDescription.valid">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
                <div class="panel panel-white post panel-shadow" *ngFor="let post of posts">
                
                    <div class="post-heading">
                        <div class="pull-left">
                            <div class="title h5">
                                <b>{{ post.userName }}</b> made a post.
                            </div>
                        </div>
                    </div>
                    <div class="post-description">
                        <p>{{ post.postDescription }}</p>
                        <div class="stats">

                             <span 
                                (click)="addLike(post)" 
                                class="glyphicon glyphicon-heart"
                                > {{post.likes}}</span>
                        </div>
                    </div>
                    <div *ngIf="showCommentProp">
                    <router-outlet></router-outlet></div>
                </div>
            
        </div>
    </div>
</div>